// mint-msgbox
.mint-msgbox-wrapper {
  .mint-msgbox {
    .mint-msgbox-header {
      .mint-msgbox-title {
        font-size: 2rem;
      }
    }

    .mint-msgbox-content {
      .mint-msgbox-message {
        font-size: 1.6rem;
      }
    }

    .mint-msgbox-btns {
      .mint-msgbox-btn {
        font-size: 1.6rem;
      }
    }
  }
}
